---
import Layout from "../layouts/Layout.astro";
import Index from "../pages/index.astro";
---

<header>
    <div class="flex justify-evenly items-center">
        <h2>Felipe, FrontEnd Dev</h2>
        <nav>
            <a href="">About</a>
            <a href="">Skills</a>
            <a href="">Projects</a>
        </nav>
    </div>
</header>