---
import Layout from "../layouts/Layout.astro";
import Index from "../pages/index.astro";
---

<header>
    <div class="flex justify-center items-center mt-6">
        <nav class="text-white p-2 rounded-full">
            <a class="mr-3 hover:text-yellow-400 duration-300" href="">About</a>
            <a class="mr-3 hover:text-yellow-400 duration-300" href="">Habilidades</a>
            <a class="hover:text-yellow-400 duration-300" href="">Proyectos</a>
        </nav>
    </div>
</header>

<style is:inline>

</style>